@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 155 100% 9.23%;
    --muted: 155 12.72% 85.02%;
    --muted-foreground: 155 5.07% 35.14%;
    --popover: 0 0% 98%;
    --popover-foreground: 155 71% 1%;
    --card: 0 0% 98%;
    --card-foreground: 154.47 100% 9.22%;
    --border: 155 13% 90%;
    --input: 155 13% 90%;
    --primary: 155 50% 28.72%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160.75 34.51% 83.56%;
    --secondary-foreground: 155 100% 10.77%;
    --accent: 155 33.04% 85.07%;
    --accent-foreground: 155 100% 4.62%;
    --destructive: 8 71.13% 54.71%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 208.3 56.16% 3.94%;
    --foreground: 153.75 100% 96.86%;
    --muted: 176.6 36.53% 12.96%;
    --muted-foreground: 178.87 13.6% 51.92%;
    --popover: 225 100% 2.35%;
    --popover-foreground: 153.75 100% 96.86%;
    --card: 210 60% 3.92%;
    --card-foreground: 155 100% 96.93%;
    --border: 196.98 42.5% 11.34%;
    --input: 197.5 41.38% 11.37%;
    --primary: 158.49 100% 26.54%;
    --primary-foreground: 144.91 100% 95.83%;
    --secondary: 165.28 42.95% 23.68%;
    --secondary-foreground: 155 100% 91.89%;
    --accent: 165.28 76.06% 11.36%;
    --accent-foreground: 155 100% 82.46%;
    --destructive: 8 64.62% 49.53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 156.23 58.33% 44.7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
